<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="bottle">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="1.50791022765406E-05 2.42350086753079E-05 0.0347686721756358"
        rpy="0 0 0" />
      <mass
        value="0.0137729793309302" />
      <inertia
        ixx="4.60323702182234E-06"
        ixy="-8.51742081203577E-10"
        ixz="-3.20971108064316E-09"
        iyy="4.60291583036679E-06"
        iyz="-6.74096572002963E-09"
        izz="4.17379591899535E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bottle/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bottle/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>